.btn-new-update {
	font-size: 14px;
	background-color: #ffdb59;
	box-shadow: 0 0 6px #ffe073;
}

.btn-new-update:hover {
	background-color: #f5d256;
}

@media (min-width: 992px) {
	.about-site {
		width: 60%;
	}

	.information-about-site, .donations {
		width: 50%;
	}
}

.date, .sum {
	width: 25%;
}

.btn-support-site {
	background-color: #2bd987;
}

.btn-support-site:hover {
	background-color: #28cc7f;
}