{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Бесплатный конструктор Telegram ботов" %}{% endblock title %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock styles %}

{% block main %}
<div class="container d-flex flex-column align-items-center text-center my-3">
	{% with updates.first as last_update %}
		{% if last_update %}
			<div class="d-flex align-items-center mb-2">
				<span class="text-secondary me-2">{% trans "Новое обновление:" %}</span>
				<a class="btn-new-update rounded-3 text-dark text-decoration-none fw-bold px-2 py-1" href="{% url 'update' last_update.id %}">{{ last_update.title }}</a>
			</div>
		{% endif %}
	{% endwith %}
	<div class="about-site mb-4">
		<h1 class="fw-bold">Constructor Telegram Bots</h1>
		<p class="lead mb-0">{% trans "Сайт, с помощью которого вы можете легко, бесплатно и без каких-либо знаний в программирование, сделать своего многофункционального Telegram бота." %}</p>
	</div>
	<div class="information-about-site mb-4">
		<h3>{% trans "Информация о сайте" %}</h3>
		<div class="mb-1">
			<div class="border border-2 rounded-5 p-2" id="usersNumber">
				<span class="fw-bold mb-0">{{ users.count }}</span>
			</div>
			<label for="usersNumber">{% trans "Количество пользователей" %}</label>
		</div>
		<div>
			<div class="border border-2 rounded-5 p-2" id="addedTelegramBotsNumber">
				<span class="fw-bold mb-0">{{ telegram_bots.count }}</span>
			</div>
			<label for="addedTelegramBotsNumber">{% trans "Количество добавленных Telegram ботов" %}</label>
		</div>
	</div>
	<div class="donations">
		<h3>{% trans "Список пожертвований" %}</h3>
		<table class="table table-sm table-hover align-middle">
			<thead>
				<tr>
					<th class="date" scope="col">{% trans "Дата" %}</th>
					<th scope="col">Telegram</th>
					<th class="sum" scope="col">{% trans "Сумма" %}</th>
				</tr>
			</thead>
			<tbody>
				{% for donation in donations %}
					<tr>
						<td>{{ donation.date }}</td>
						<td><a class="link-dark" href="{{ donation.telegram_url }}" target="_blank">{{ donation.telegram_url }}</a></td>
						<td>{{ donation.sum }}€</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a class="btn-support-site rounded-2 text-dark text-decoration-none fw-bold px-3 py-2" href="{% url 'donation' %}">{% trans "Поддержать сайт" %}</a>
	</div>
</div>
{% endblock main %}