{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Пожертвование" %}{% endblock title %}

{% block main %}
<div class="container my-3 my-lg-4">
	<div class="row row-cols-1 gy-4">
		{% block content %}{% endblock content %}
	</div>
</div>
{% endblock main %}