{% extends 'base_donation.html' %}
{% load i18n %}

{% block content %}
<div class="col">
	<h3 class="mb-1">{% trans 'О сайте' %} Constructor Telegram Bots</h3>
	<p><b>Constructor Telegram Bots</b> - {% trans 'cайт, с помощью которого вы можете легко, бесплатно и без каких-либо знаний в программирование, сделать своего многофункционального Telegram бота.' %}</p>
	<p>{% trans 'Сайт является некоммерческим и не преследует цель заработать на своих пользователях.' %}</p>
	<p class='mb-0'>{% trans 'Сайт был создан, потому-что к сожелению все похожие сайты являються коммерческими и преследуют цель заработать на своих пользователях, а бесплатный тариф на таких сайтах очень сильно ограничивает своих же пользователей сайта.' %}</p>
</div>
<div class="col">
	<h3 class="mb-1">{% trans 'Зачем мне делать пожертвование сайту?' %}</h3>
	<p class="mb-0">{% trans 'Ваше пожертвование очень сильно поможет развитию и улучшению сайта.' %}</p>
</div>
<div class="col">
	<h3 class="mb-1">{% trans 'Где я могу задать интересующие меня вопросы по данной теме?' %}</h3>
	<p class="mb-0">{% trans 'На все вас интересующие вопросы вам ответят по адресу' %} <a href="mailto:helper.exg1o@gmail.com" target="_blank">helper.exg1o@gmail.com</a> {% trans "или вы можете написать основателю сайта в" %} <a href="tg://resolve?domain=exg1o">Telegram</a>.</p>
</div>
<div class="col">
	<h3 class="mb-1">{% trans 'О пожертвованиях сайту' %}</h3>
	<p>{% trans 'Пожертвования обрабатываются через платёжную систему' %} <a href="https://www.paypal.com/ee/home" target="_blank">PayPal</a>.</p>
	<p>{% trans 'Пожертвование может быть сделано либо с вашей банковской карты, либо с вашей существующей учётной записи PayPal. Если вы хотите использовать банковскую карту, то нажмите на кнопку «Отправить пожертвование с помощью банковской карты», которая приведет вас к форме для ввода данных вашей банковской карты. Учётная запись PayPal не требуется.' %}</p>
	<p>{% trans 'В целях безопасности ваших персональных данных, сайт не получит и не сохранит данные вашей банковской карты.' %}</p>
	<p>{% trans 'После пожертвования вы получите квитанцию от PayPal.' %}</p>
	<p class="mb-0">{% trans 'NB: Мы советуем вам указать в примечание к пожертвованию ссылку на ваш Telegram, потому-что в будующем мы планируем добавить таблицу донатеров на сайте.' %}</p>
</div>
<div class="col">
	<form action="https://www.paypal.com/donate" method="post">
		<input name="hosted_button_id" type="hidden" value="RBCS5HAMZS5Z6"/>
		<button class="btn btn-dark w-100" name="submit">
			<i class="bi bi-paypal text-primary me-1"></i>
			{% trans 'Сделать пожертвование через PayPal' %}
		</button>
	</form>
</div>
{% endblock content %}