{% extends 'base_donation.html' %}
{% load i18n %}

{% block content %}
<div class="col">
	<h3 class="mb-1">{% trans "Спасибо за пожертвование сайту!" %}</h3>
	<p>{% trans "Спасибо за пожертвование сайту, ваше пожертвование очень сильно поможет развитию и улучшению сайта!" %}</p>
	<p class="mb-0">{% trans "Чтобы узнать, было ли ваше пожертвование получено сайтом, вы можете написать основателю сайта в" %} <a href="tg://resolve?domain=exg1o">Telegram</a> {% trans "и задать ему этот вопрос." %}</p>
</div>
{% endblock content %}