{% load i18n %}

{% if app_list %}
	<div class="app module{% if app.app_url in request.path|urlencode %} current-app{% endif %}">
		{% for app in app_list %}
			{% for model in app.models %}
				<table>
					<tr class="model-{{ model.object_name|lower }}{% if model.admin_url in request.path|urlencode %} current-model{% endif %}">
						{% if model.admin_url %}
							<th scope="row"><a href="{{ model.admin_url }}"{% if model.admin_url in request.path|urlencode %} aria-current="page"{% endif %}>{{ model.name }}</a></th>
						{% else %}
							<th scope="row">{{ model.name }}</th>
						{% endif %}

						{% if model.add_url %}
							<td><a href="{{ model.add_url }}" class="addlink">{% trans 'Добавить' %}</a></td>
						{% else %}
							<td></td>
						{% endif %}

						{% if model.admin_url and show_changelinks %}
							{% if model.view_only %}
								<td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'Посмотреть' %}</a></td>
							{% else %}
								<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Изменить' %}</a></td>
							{% endif %}
						{% elif show_changelinks %}
							<td></td>
						{% endif %}
					</tr>
				</table>
			{% endfor %}
		{% endfor %}
	</div>
{% else %}
	<p>{% trans 'У вас нет разрешения на просмотр или редактирование чего-либо.' %}</p>
{% endif %}
