{% extends "admin/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ title }} - Constructor Telegram Bots{% endblock %}

{% block extrahead %}
<link rel="icon" href="{% static 'icons/favicon.png' %}">
{% endblock extrahead %}

{% block extrastyle %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'admin/css/language_toggle.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{% trans "Администрирование сайта" %} Constructor Telegram Bots</a></h1>

{% if user.is_anonymous %}
	{% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block welcome-msg %}{% endblock welcome-msg %}

{% block userlinks %}
<a href="{% url 'home' %}">{% trans 'Вернуться на сайт' %}</a> /

{% include "admin/color_theme_toggle.html" %} /

<form action="{% url 'set_language' %}" method="post" style="display:inline">
	{% csrf_token %}
	<input name="next" type="hidden" value="{{ redirect_to }}">
	<select class="language-toggle" name="language" onchange="this.form.submit()">
		{% get_current_language as LANGUAGE_CODE %}
		{% get_available_languages as LANGUAGES %}
		{% get_language_info_list for LANGUAGES as languages %}
		{% for language in languages %}
			<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>{{ language.name_local }}</option>
		{% endfor %}
	</select>
</form>
{% endblock %}

{% block nav-global %}{% endblock %}
