{% extends 'base.html' %}
{% load i18n %}

{% if user.is_authenticated and user.is_staff %}
	{% block title %}{% trans "Авторизация" %}{% endblock title %}

	{% block main %}
		<div class="container my-3 my-lg-4">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-4">
					<div class="row row-cols-1">
						<div class="col text-center">
							<h3>{% trans "Войдите через Telegram!" %}</h3>
						</div>
						<div class="col">
							<a class="btn btn-success btn-login-via-telegram w-100" href="tg://resolve?domain={{ constructor_telegram_bot_username }}&start=login">
								<i class="bi bi-telegram me-1"></i>
								{% trans "Войти через Telegram" %}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock main %}
{% else %}
	{% block meta %}
	<meta http-equiv="refresh" content="0;URL=/">
	{% endblock meta %}
{% endif %}