{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ update.title }}{% endblock title %}

{% block main %}
<div class="container text-center my-3 my-lg-4">
	<h1 class="fw-bold mb-3 mb-lg-4">{{ update.title }}</h1>
	<div class="card">
		<img class="card-img-top" src="/{{ update.image }}" alt="{{ update.title }}">
		<div class="card-body text-start pb-0">
			{% autoescape off %}
				{{ update.description }}
			{% endautoescape %}
		</div>
	</div>
</div>
{% endblock main %}