{% load i18n %}
{% load static %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% block title %}{% endblock title %} - Constructor Telegram Bots</title>
		<meta name="robots" content="index, follow">
		<meta name="description" content="{% trans "Сайт, с помощью которого вы можете легко, бесплатно и без каких-либо знаний в программирование, сделать своего многофункционального Telegram бота." %}">
		<meta name="keywords" content="бесплатный, free, конструктор, constructor, telegram, телеграм, bot, бот, bots, ботов">

		<meta name="google-site-verification" content="YbS9xa_kQpSf_XVG7tmdkCnX-av6lvsIm9m0E5SGTds">

		{% block meta %}{% endblock meta %}

		<link rel="icon" href="{% static 'favicon.png' %}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

		{% block styles %}
		<link rel="stylesheet" href="{% static 'global/css/dropdown_menu_languages.css' %}">
		{% endblock styles %}
	</head>
	<body class="d-flex flex-column h-100">
		{% include 'navbar.html' %}

		{% block modals %}
		{% if user.is_authenticated %}
			{% include 'modals/ask_confirm_modal.html' %}
		{% else %}
			{% include 'modals/login_via_telegram_modal.html' %}
		{% endif %}
		{% endblock modals %}

		<div class="toast-container position-fixed bottom-0 end-0 p-3" id="mainToastContainer"></div>

		<main class="{% block main_class %}my-auto{% endblock main_class %}">
			{% block main %}{% endblock main %}
		</main>

		<footer class="footer bg-dark {% block footer_class %}{% endblock footer_class %}">
			{% include 'footer.html' %}
		</footer>
	</body>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

	{% block scripts %}
	<script src="{% static 'global/js/toast.js' %}"></script>
	{% if user.is_authenticated %}
		<script>
			const userApiToken = '{{ request.user.auth_token.key }}';

			const userLogoutUrl = "{% url 'user_logout' %}";

			const userLogoutAskConfirmModalTitle = "{% trans 'Выход из аккаунта' %}";
			const userLogoutAskConfirmModalText = "{% trans 'Вы точно хотите выйти из аккаунта?' %}";
		</script>
		<script src="{% static 'global/js/modals/ask_confirm_modal.js' %}"></script>
		<script src="{% static 'global/js/logout.js' %}"></script>
	{% else %}
		<script>
			const constructorTelegramBotUsername = "{{ constructor_telegram_bot_username }}";
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="{% static 'global/js/login_via_telegram_button.js' %}"></script>
	{% endif %}
	{% endblock scripts %}
</html>