#telegramBotCommandKeyboardRows {
	min-height: 41px;

	padding-left: 3px;
	padding-right: 3px;
}

#telegramBotCommandKeyboardRow {
	width: 40px;
}

.telegram-bot-command-keyboard-button-row-button {
	width: 35px;
}

.telegram-bot-command-keyboard-button-name-input,
.telegram-bot-command-keyboard-button-link-input {
	text-align: center;

	border-color: var(--bs-bark);
}