{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Меню Telegram бота" %}{% endblock title %}

{% block styles %}
{{ block.super }}
<!-- Monaco Editor -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.40.0/min/vs/editor/editor.main.min.css" integrity="sha512-MOoQ02h80hklccfLrXFYkCzG+WVjORflOp9Zp8dltiaRP+35LYnO4LKOklR64oMGfGgJDLO8WJpkM1o5gZXYZQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
<!-- END Monaco Editor -->

<!-- Prism -->
<link rel="stylesheet" href="{% static 'prism/css/prism.css' %}">
<!-- END -->

<!-- Telegram bot menu styles -->
<link rel="stylesheet" href="{% static 'personal_cabinet/telegram_bot_menu/css/telegram_bot_plugins.css' %}">
<link rel="stylesheet" href="{% static 'personal_cabinet/telegram_bot_menu/css/telegram_bot_command.css' %}">
<link rel="stylesheet" href="{% static 'personal_cabinet/telegram_bot_menu/css/diagram.css' %}">
<!-- END -->
{% endblock styles %}

{% block main %}
<div class="container my-3 my-lg-4">
	<div class="row g-4">
		<div class="col-12">
			{% include 'telegram_bot_menu/telegram_bot.html' %}
		</div>
		<div class="col-12">
			{% include 'telegram_bot_menu/telegram_bot_users.html' %}
		</div>
		<div class="col-12">
			{% include 'telegram_bot_menu/telegram_bot_database.html' %}
		</div>
		<div class="col-12">
			{% include 'telegram_bot_menu/telegram_bot_plugins.html' %}
		</div>
		<div class="col-12">
			{% include 'telegram_bot_menu/telegram_bot_plugins_logs.html' %}
		</div>
		<div class="col-12 col-lg-5">
			{% include 'telegram_bot_menu/telegram_bot_command.html' %}
		</div>
		<div class="col-12 col-lg-7">
			{% include 'telegram_bot_menu/diagram.html' %}
		</div>
	</div>
</div>
{% endblock main %}

{% block scripts %}
{{ block.super }}
<!-- Данные -->
<script>
	const telegramBotId = {{ telegram_bot.id }};
	var telegramBotIsRunning = {% if telegram_bot.is_running %}true{% else %}false{% endif %};
	var diagramCurrentScale = parseFloat('{{ telegram_bot.diagram_current_scale }}'.replace(',', '.'));
</script>
<!-- END Данные -->

<!-- Telegram bot -->
<script>
	const telegramBotsUrl = "{% url 'telegram_bots' %}";
	const telegramBotUrl = "{% url 'telegram_bot' telegram_bot.id %}";
	const startOrStopTelegramBotUrl = "{% url 'start_or_stop_telegram_bot' telegram_bot.id %}";

	const telegramBotCardHeaderIsRunningText = "{% trans 'Telegram бот включен' %}";
	const telegramBotCardHeaderIsNotRunningText = "{% trans 'Telegram бот выключен' %}";

	const telegramBotTableLineApiTokenInputText = "{% trans 'Введите API-токен Telegram бота' %}";

	const startTelegramBotMessage = "{% trans 'Вы успешно включили Telegram бота.' %}";
	const stopTelegramBotMessage = "{% trans 'Вы успешно выключили Telegram бота.' %}";

	const telegramBotStartButtonText = "{% trans 'Включить Telegram бота' %}";
	const telegramBotStopButtonText = "{% trans 'Выключить Telegram бота' %}";

	const deleteTelegramBotAskConfirmModalTitle = "{% trans 'Удаление Telegram бота' %}";
	const deleteTelegramBotAskConfirmModalText = "{% trans 'Вы точно хотите удалить Telegram бота?' %}";
</script>
<!-- END -->

<!-- Telegram bot users -->
<script>
	const telegramBotUsersUrl = "{% url 'telegram_bot_users' telegram_bot.id %}";

	const telegramBotNotActivatedText = "{% trans 'Вашего Telegram бота ещё никто не активировал' %}";

	const deleteTelegramBotUserAskConfirmModalTitle = "{% trans 'Удаление пользователя Telegram бота' %}";
	const deleteTelegramBotUserAskConfirmModalText = "{% trans 'Вы точно хотите удалить пользователя Telegram бота?' %}";
</script>
<!-- END -->

<!-- Telegram bot database -->
<script>
	const telegramBotDatabeseRecordsUrl = "{% url 'telegram_bot_databese_records' telegram_bot.id %}";

	const telegramBotDatabaseNotHaveDataText = "{% trans 'В базе данных вашего Telegram бота ещё нет никаких записей' %}";

	const deleteTelegramBotDatabaseRecordAskConfirmModalTitle = "{% trans 'Удаление записи из базы данных Telegram бота' %}";
	const deleteTelegramBotDatabaseRecordAskConfirmModalText = "{% trans 'Вы точно хотите удалить запись из базы данных Telegram бота?' %}";
</script>
<!-- END -->

<!-- Telegram bot plugins -->
<script>
	const telegramBotPluginsUrl = "{% url 'plugins' telegram_bot.id %}";

	const telegramBotNotHavePluginText = "{% trans 'Вы ещё не добавили плагины для вашего Telegram бота' %}";

	const telegramBotPluginNameInputPlaceholderText = "{% trans 'Введите название' %}";
	const telegramBotPluginCodePlaceholderText = "{% trans 'Введите код вашего плагина' %}";

	const telegramBotPluginNameText = "{% trans 'Название плагина:' %}";

	const deleteTelegramBotPluginAskConfirmModalTitle = "{% trans 'Удаление плагина Telegram бота' %}";
	const deleteTelegramBotPluginAskConfirmModalText = "{% trans 'Вы точно хотите удалить плагин Telegram бота?' %}";
</script>
<!-- END -->

<!-- Telegram bot plugins logs -->
<script>
	const telegramBotPluginsLogs = "{% url 'plugins_logs' telegram_bot.id %}";

	const telegramBotNotHavePluginsLogsText = "{% trans 'Сообщений в логах плагинов вашего Telegram бота ещё нет' %}";
</script>
<!-- END -->

<!-- Telegram bot command -->
<script>
	const telegramBotCommandsUrl = "{% url 'telegram_bot_commands' telegram_bot.id %}";

	const telegramBotCommandCardHeaderAddCommandTitleText = "{% trans 'Добавление команды' %}";
	const telegramBotCommandCardHeaderEditCommandTitleText = "{% trans 'Редактирование команды' %}";

	const telegramBotCommandMessageTextPlaceholderText = "{% trans 'Введите текст сообщения' %}";

	const telegramBotCommandKeyboardButtonNameText = "{% trans 'Название кнопки' %}";
	const telegramBotCommandKeyboardButtonUrlText = "{% trans 'URL-адрес' %}";

	const telegramBotCommandFooterAddCommandButtonText = "{% trans 'Добавить команду' %}";
	const telegramBotCommandFooterSaveCommandButtonText = "{% trans 'Сохранить команду' %}";
</script>
<!-- END -->

<!-- Telegram bot diagram -->
<script>
	const saveTelegramBotDiagramCurrentScaleUrl = "{% url 'save_telegram_bot_diagram_current_scale' telegram_bot.id %}";

	const deleteTelegramBotCommandAskConfirmModalTitle = "{% trans 'Удаление команды Telegram бота' %}";
	const deleteTelegramBotCommandAskConfirmModalText = "{% trans 'Вы точно хотите удалить команду Telegram бота?' %}";
</script>
<!-- END -->

<!-- Monaco editor -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.40.0/min/vs/loader.min.js" integrity="sha512-QzMpXeCPciAHP4wbYlV2PYgrQcaEkDQUjzkPU4xnjyVSD9T36/udamxtNBqb4qK4/bMQMPZ8ayrBe9hrGdBFjQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	require.config({paths: {'vs': "https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.40.0/min/vs"}});
</script>
<!-- END -->

<!-- Prism -->
<script src="{% static 'prism/js/prism.js' %}"></script>
<!-- END -->

<!-- Telegram bot menu scripts -->
<script src="{% static 'personal_cabinet/telegram_bot_menu/js/diagram.js' %}"></script>
<script src="{% static 'personal_cabinet/telegram_bot_menu/js/telegram_bot_command.js' %}"></script>
<script src="{% static 'personal_cabinet/telegram_bot_menu/js/telegram_bot_database.js' %}"></script>
<script src="{% static 'personal_cabinet/telegram_bot_menu/js/telegram_bot_users.js' %}"></script>
<script src="{% static 'personal_cabinet/telegram_bot_menu/js/telegram_bot_plugins.js' %}"></script>
<script src="{% static 'personal_cabinet/telegram_bot_menu/js/telegram_bot_plugins_logs.js' %}"></script>
<script src="{% static 'personal_cabinet/telegram_bot_menu/js/telegram_bot.js' %}"></script>
<script src="{% static 'personal_cabinet/telegram_bot_menu/js/monaco_editor.js' %}"></script>
<!-- END -->
{% endblock scripts %}