{% load i18n %}

<div class="card border h-100">
	<h5 class="card-header border-bottom text-center">{% trans "База данных Telegram бота" %}</h5>
	<div class="card-body">
		<div class="d-flex">
			<div class="btn-group" role="group">
				<button class="btn btn-light border px-2 py-1" id="telegramBotDatabaseRecordsСollapseButton" type="button">
					<i class="bi bi-arrow-down d-flex" style="font-size: 20px;"></i>
				</button>
				<button class="btn btn-light border px-2 py-1" id="updateTelegramBotDatabaseRecordsButton">
					<i class="bi bi-arrow-repeat d-flex" style="font-size: 20px;"></i>
				</button>
			</div>
		</div>
		<div class="collapse mt-2" id="telegramBotDatabaseRecordsСollapse">
			<div class="list-group" id="telegramBotDatabaseRecords"></div>
		</div>
	</div>
	<div class="card-footer border-top p-0">
		<button class="btn btn-light border-0 rounded-top-0 w-100 px-3" id="addTelegramBotDatabaseRecordButton" type="button" style="height: 42px;">{% trans "Добавить запись" %}</button>
	</div>
</div>